<head xmlns="http://www.w3.org/1999/html">
  <style type = "text/css">
      body {background-color: #ffc40d;}
  </style>
</head>
<body>
<div class="left hero-unit">
  <div class="row">
    <aside class="span4">
      <section></section>
    </aside>
  </div>

<h1><i>Listing products</i></h1>
  </br>
  <div class="progress progress-danger progress-striped active">
    <div class="bar" style="width: 100%;"></div>
  </div>
 <br />
<% @products.each do |product| %>
<table>
  <tr>
    <td>
      <% if @product.image.exists? then %>
        <%= image_tag @product.image.url(:small) %> </br>
      <% end %>
    </td>
    <td>
        <p><%= product.title %></p>
        <p><td><%= product.description %></p>
    </td>
    <td>
        <p><%= product.current_price %></p>
        <p><%= product.time_left %> days left</p>
    </td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<p>
  <%= form_tag 'search-product' do %>
    <%= text_field_tag :query, nil, :placeholder => 'Search here ...' %>
    <%= submit_tag "Search" %>
  <% end %>
</p>

<br />

<%= link_to 'New Product', new_product_path, class: "btn btn-large btn-danger" %>
</div>
</body>
