<head xmlns="http://www.w3.org/1999/html">
  <style type = "text/css">
      body {background-color: #ffc40d;}
  </style>
</head>
<body>
<div class="row">
  <aside class="span4">
    <section></section>
  </aside>
</div>

<div class="progress progress-danger progress-striped active">
  <div class="bar" style="width: 100%;"></div>
</div>
<h1><i>Listing products</i></h1>
<% @products.each do |product| %>
  <div class="productIndexDiv">
        <% if product.image.exists? then %>
            <%= image_tag product.image.url(:thumb), :class => 'productSmallImg' %> </br>
        <% end %>
      <p class='title'><%= product.title %></p>
      <p class="price">$<%= product.current_price %> at BestBay</p>
      <p class='pricePrev'>$<%= product.start_price %></p>
      <b><%= (Date.strptime(product.bid_until, '%m/%d/%Y') - Date.today).to_i %> days left</b><br>
      <%= link_to 'Show', product %>
      <% if product.user_id == current_user.id %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <br><%= link_to "Add to my watch list", :controller => "watchlists",:action => "create", :id => product.id %>
    </div>
<% end %>
<br />
<div class="center hero-unit">
<p>
  <%= form_tag 'search-product' do %>
    <%= text_field_tag :query, nil, :placeholder => 'Search here ...' %>
    <%= submit_tag "Search" , class: "btn btn-inverse" %>
  <% end %>
</p>

<br />

<%= link_to 'New Product', new_product_path, class: "btn btn-large btn-danger" %>
</div>
</body>
