<style type = "text/css">
    body {background-color: #ffc40d;}
</style>

<% if @products.empty? %>
  <h1><i>Listing products</i></h1>
  <p>You don't have any products yet. </p>
<% else %>
  <h1><i>Listing products</i></h1>
  <% @products.each do |product| %>
    <div class="productIndexDiv">
      <% if product.image.exists? then %>
        <%= image_tag product.image.url(:thumb), :class => 'productSmallImg' %> </br>
      <% end %>
      <p class='title'><%= product.title %></p>
      <p class="price">$<%= product.current_price %> at BestBay</p>
      <p class='pricePrev'>$<%= product.start_price %></p>
      <% days = (Date.strptime(product.bid_until, '%m/%d/%Y') - Date.today).to_i %>
      <% if days > 0 %>
        <b><%= days %> days left</b><br>
      <% else %>
        Bid closed<br>
      <% end %>
      <%= link_to 'Show', product %>
      <% if days > 0 %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <% end %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>

