<div class="row">
  <aside class="span4">
    <section></section>
  </aside>
</div>

<div id='productTable'>
  <table>
  <tr>
    <td id="productImage">
      <% if @product.image.exists? then %>
          <%= image_tag @product.image.url(:small), :class => 'productLargeImg'%> </br>
      <% end %>
    </td>
    <td id="productInfo">
      <p class="title">
        <b><%= @product.title %></b>
      </p>

      <p>
        <b>by:</b>
        <%= link_to @product.user_name, @productOwner%>
      </p>

      <p id="productPrice" class="price">
        <b>Start price:</b>
        <%= @product.start_price %>
      </p>

      <p id="currentPrice" class="price">
        <b>Current price:</b>
        $<%= @product.current_price %>
      </p>

      <p>
      <%= form_for @bid, :url => bid_path  do |f| %>
          <%= f.label :bidding_price %>
          <%= f.text_field :bidding_price %>
          <%= f.submit "Bid", class: "btn btn-danger" %>
        <% end %>
      </p>

      <p>
        <b>Description:</b>
        <%= @product.description %>
      </p>

      <p>
        <b>Time left:</b>
        <%= @product.time_left %>
      </p>
      <p>
        <b>Category:</b>
        <%= Category.find(@product.category_id).content%>
      </p>
    </td>
  </tr>
</table>

</div>
<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-info" %> |
<%= link_to 'Back', products_path, class: "btn btn-info" %>
