<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BestBay", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
              <li class="header-text">Welcome <%= current_user.name %></li>
              <li><%= link_to "My Watchlist",:controller => "watchlists", :action => "index" %></li>

              <li id="fat-menu" class="dropdown">
                <a class="btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
					<i class="icon-user icon-white"></i> My Account <b class="caret"></b>
				</a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                  <!--li><!--%= link_to "Hot Products", current_user %></li-->
                  <li><%= link_to "My Products", "/my-products" %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path,method: "delete" %>
                  </li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "Sign in", signin_path, class: "btn-warning" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
