<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <% if signed_in? %>
        <ul class='nav pull-left'>
          <li><a href='<%= root_path %>'><i class='icon-home icon-white'></i></a></li>
          <li><a href='<%= new_product_path %>'><i class="icon-plus icon-white"></i> New Product</a></li>
          <li><%= form_tag 'search-product', :id => "_form-narrow", :class => "form-search" do %>
            <%= text_field_tag :query, nil, :placeholder => 'Search here ...', :id => 'search-bar', :class => 'search-query input-medium' %>
            <%= button_tag(:type => 'submit', :class => "btn") do %>
              <i class="icon-search"></i>
            <% end %>
          <% end %></li>
        </ul>
      <% else %>
        <%= link_to "BestBay", root_path, id: "logo" %>
      <% end %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li class="header-text">Welcome <%= current_user.name %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <i class="icon-user icon-white"></i> My Account <b class="caret"></b>
		  	  </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "My Products", "/my-products" %></li>
                <li><%= link_to "My Watchlist",:controller => "watchlists", :action => "index" %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
