<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BestBay", 'http://localhost:3000', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
<<<<<<< HEAD
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= link_to "Users", '#' %></li>
=======
            <li class="header-text">Welcome <%= current_user.name %></li>
>>>>>>> 43a627f0ddc186b3c6c0ad4ac2396223991f307e
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", '#' %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signup_path %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign up", signup_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
